html *
  margin: 0
  padding: 0
html, body, #main
  position: relative
  width: 100%
body
  background: #f6f6f6
  color: #222
  font-family: 'Lucida'
  font-size: 14px
.consoleTypo, .outputResult
  font-family: Menlo, "Courier New", Terminal, monospace
  color: #999
  &.error
    color: #ffadad
#consoleInput
  background: #fff
  width: 95%
  border: 0
  padding: 1em
  margin: 0 auto
  resize: none
  height: 1em
  transition: height 0.1s
  margin: 0 auto
  display: block
  margin-top: 0.5em
  overflow: hidden
  outline: none
#consoleInput, .outputResult
  font-size: 20px
.outputResult
  display: block
  padding: 1em
  padding-bottom: 0
  position: relative
  opacity: 0
  height: 0
  transition: all 0.2s ease-out
  &.visible
    padding: 1em
    padding-bottom: 0
    opacity: 1
    height: auto
  &.boolean
    color: #4eaaa7
  &.number
    color: #f38346
  &.object
    color: #666
  &.function
    color: #67bf99
  &.undefined
    color: #d47ed1
    &.evalOutput
      display: none
  &.array
    color: #429db7
